.primary-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.primary-buttons button {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 2px;
    padding: 13px 28px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14);
    text-transform: uppercase;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
    padding: 18px 49px;
    border: medium none;
    background-size: 400% 400%;
    cursor: pointer;
    font-weight: bolder;
    transition: 500ms;
}

.start {
    background: #1ab336;
    color: #fff;
}

.start:hover {
    background: #16982d;
}

.pause {
    background: #f8bb05;
    color: #fff;
}

.pause:hover {
    background: #e5ae09;
}

.edit {
    background: #f2f2f2;
    color: #3f345f !important;
}

.edit:hover {
    background: #f9f9f9;
}

.reset {
    background: #ec3737;
    color: #fff;
}

.reset:hover {
    background: #d72023;

}